.QuizDetail {
  width: 80%;
  min-height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.QuizDetail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Quiz-Details {
  color: #ff5d01;
  font-size: 15px;
  font-weight: 600;
}

.QuizDetail .h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #5076ff;
}

.QuizDetail p {
  font-size: 16px;
  margin: 5px 0;
}

.questions-section {
  margin-top: 20px;
}

.question-block {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.question-block h4 {
  margin: 0 0 10px;
  font-size: 30px;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.answer-options .option {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  flex: 1 1 auto;
  text-align: center;
  max-width: 200px;
}

.question-block .total-numbers {
  font-size: 30px;
  font-weight: 600;
  color: #474444;
}

.poll-count {
  font-size: 30px;
  font-weight: 600;
  color: #474444;
}

.poll-option {
  font-size: 20px;
  font-weight: 600;
  color: #474444;
}

.poll-option-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
